# This is a white-list gitignore
#


# First, ignore everything
*
.*


# White-list

# gitignore
!/.gitignore

# Documents
!/README.md
!/LICENSE.md
!/document/
!/document/acknowledgement.md
!/document/CMakeLists.txt

# Project cmake file
!/CMakeLists.txt
!/cmake/
!/cmake/*.cmake

# Source code
!/source/
!/source/zivc/
!/source/zivc/CMakeLists.txt
!/source/zivc/*.dox
!/source/zivc/internal_kernel/
!/source/zivc/internal_kernel/zivc/
!/source/zivc/internal_kernel/zivc/kernel/
!/source/zivc/internal_kernel/zivc/kernel/*.cl
!/source/zivc/internal_kernel/zivc/utility/
!/source/zivc/internal_kernel/zivc/utility/*.hpp
!/source/zivc/kernel_baker/
!/source/zivc/kernel_baker/CMakeLists.txt
!/source/zivc/kernel_baker/kernel_baker.cpp
!/source/zivc/template/
!/source/zivc/template/*.hpp.in
!/source/zivc/template/*.cpp.in
!/source/zivc/template/*.cl.in
!/source/zivc/template/*.cmake.in
!/source/zivc/core/
!/source/zivc/core/zivc/
!/source/zivc/core/zivc/*.hpp
!/source/zivc/core/zivc/*.hpp.in
!/source/zivc/core/zivc/*.cpp
!/source/zivc/core/zivc/cl/
!/source/zivc/core/zivc/cl/*.cl
!/source/zivc/core/zivc/cl/*.hpp
!/source/zivc/core/zivc/cpu/
!/source/zivc/core/zivc/cpu/*.hpp
!/source/zivc/core/zivc/cpu/*.cpp
!/source/zivc/core/zivc/cpu/internal/
!/source/zivc/core/zivc/cpu/internal/*.hpp
!/source/zivc/core/zivc/cpu/internal/*.cpp
!/source/zivc/core/zivc/cpucl/
!/source/zivc/core/zivc/cpucl/*.hpp
!/source/zivc/core/zivc/cpucl/*.cpp
!/source/zivc/core/zivc/auxiliary/
!/source/zivc/core/zivc/auxiliary/*.hpp
!/source/zivc/core/zivc/auxiliary/*.cpp
!/source/zivc/core/zivc/internal/
!/source/zivc/core/zivc/internal/*.hpp
!/source/zivc/core/zivc/internal/*.cpp
!/source/zivc/core/zivc/vulkan/
!/source/zivc/core/zivc/vulkan/*.hpp
!/source/zivc/core/zivc/vulkan/*.cpp
!/source/zivc/core/zivc/vulkan/internal/
!/source/zivc/core/zivc/vulkan/internal/*.hpp
!/source/zivc/core/zivc/vulkan/internal/*.cpp
!/source/zivc/core/zivc/vulkan/utility/
!/source/zivc/core/zivc/vulkan/utility/*.hpp
!/source/zivc/core/zivc/vulkan/utility/*.cpp
# Zivc cmake file
!/source/zivc/cmake/
!/source/zivc/cmake/*.cmake
# Dependencies
!/source/dependencies/
!/source/dependencies/cpu_features
!/source/dependencies/clspv
!/source/dependencies/VulkanMemoryAllocator
!/source/dependencies/zstd
!/source/dependencies/Zisc

# Example
!/example/
!/example/CMakeLists.txt
!/example/*.cpp
!/example/*.hpp
!/example/dependencies/
!/example/dependencies/CLI11
!/example/dependencies/glfw
!/example/dependencies/imgui
!/example/gui/
!/example/gui/*.hpp
!/example/gui/*.cpp
!/example/gui/utility/
!/example/gui/utility/*.hpp
!/example/gui/utility/*.cpp
!/example/kernels/
!/example/kernels/*.cl

# Test
!/test/
!/test/CMakeLists.txt
!/test/dependencies/
!/test/dependencies/googletest
!/test/unittest/
!/test/unittest/*.hpp
!/test/unittest/*.cpp
!/test/unittest/kernels/
!/test/unittest/kernels/kernel_test1/
!/test/unittest/kernels/kernel_test1/*.cl
!/test/unittest/kernels/kernel_test2/
!/test/unittest/kernels/kernel_test2/*.cl
!/test/unittest/kernels/kernel_test3/
!/test/unittest/kernels/kernel_test3/*.cl
!/test/unittest/kernels/kernel_test_local/
!/test/unittest/kernels/kernel_test_local/*.cl
!/test/unittest/kernels/kernel_test_params/
!/test/unittest/kernels/kernel_test_params/*.cl
!/test/unittest/kernels/kernel_test_pod/
!/test/unittest/kernels/kernel_test_pod/*.cl
!/test/unittest/kernels/cl_cpp_test1/
!/test/unittest/kernels/cl_cpp_test1/*.cl
!/test/unittest/kernels/cl_cpp_test_type/
!/test/unittest/kernels/cl_cpp_test_type/*.cl
!/test/unittest/kernels/cl_cpp_test_geometry/
!/test/unittest/kernels/cl_cpp_test_geometry/*.cl
!/test/unittest/utility/
!/test/unittest/utility/*.hpp
!/test/unittest/utility/*.cpp

# Build directories
!/build/
!/build/.gitkeep
