# This is a white-list gitignore
#


# First, ignore everything
*
.*


# White-list

# gitignore
!/.gitignore

# Documents
!/README.md
!/LICENSE.md
!/Acknowledgement.md
!/document/
!/document/CMakeLists.txt

# Project cmake file
!/CMakeLists.txt
!/cmake/
!/cmake/*.cmake

# Source code
!/source/
!/source/zivc/
!/source/zivc/CMakeLists.txt
!/source/zivc/*.dox
!/source/zivc/kernel_baker/
!/source/zivc/kernel_baker/CMakeLists.txt
!/source/zivc/kernel_baker/kernel_baker.cpp
!/source/zivc/template/
!/source/zivc/template/*.hpp.in
!/source/zivc/template/*.cpp.in
!/source/zivc/template/*.cl.in
!/source/zivc/template/*.cmake.in
!/source/zivc/zivc/
!/source/zivc/zivc/*.hpp
!/source/zivc/zivc/*.hpp.in
!/source/zivc/zivc/*.cpp
!/source/zivc/zivc/cl/
!/source/zivc/zivc/cl/*.cl
!/source/zivc/zivc/cppcl/
!/source/zivc/zivc/cppcl/*.hpp
!/source/zivc/zivc/cppcl/*.cpp
!/source/zivc/zivc/cpu/
!/source/zivc/zivc/cpu/*.hpp
!/source/zivc/zivc/cpu/*.cpp
!/source/zivc/zivc/cpu/utility/
!/source/zivc/zivc/cpu/utility/*.hpp
!/source/zivc/zivc/cpu/utility/*.cpp
!/source/zivc/zivc/utility/
!/source/zivc/zivc/utility/*.hpp
!/source/zivc/zivc/utility/*.cpp
!/source/zivc/zivc/vulkan/
!/source/zivc/zivc/vulkan/*.hpp
!/source/zivc/zivc/vulkan/*.cpp
!/source/zivc/zivc/vulkan/utility/
!/source/zivc/zivc/vulkan/utility/*.hpp
!/source/zivc/zivc/vulkan/utility/*.cpp
# Zivc cmake file
!/source/zivc/cmake/
!/source/zivc/cmake/*.cmake
# Dependencies
!/source/dependencies/
!/source/dependencies/cpu_features
!/source/dependencies/clspv
!/source/dependencies/VulkanMemoryAllocator
!/source/dependencies/Zisc
!/source/dependencies/zstd

# Test
!/test/
!/test/CMakeLists.txt
!/test/dependencies/
!/test/dependencies/googletest
!/test/dependencies/CLI11
!/test/unittest/
!/test/unittest/*.hpp
!/test/unittest/*.cpp

# Example
!/example/
!/example/CMakeLists.txt
!/example/*.cpp
!/example/kernels/
!/example/kernels/*.cl

# Build directories
!/build/
!/build/.gitkeep
